body{
  background-color: rgb(0, 207, 190);
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

/*navbar*/
.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .nav-items{
  padding: 18px;
  font-size: 1.6rem;
  font-weight: bold;
}

.nav-bar .nav-items:hover{
  border-bottom: 3px solid rgb(0, 119, 155);
}

:root{
  --box-shadow: 5px 5px 10px 0px rgb(27, 12, 229);
  --bg-color: rgb(6, 7, 105)
}

/*Home*/
.home{
  height: 80vh;
  display: flex;
  width: 1500px;
  justify-content: space-between;
  align-items: center;
}

.home .left{
  background-color: var(--bg-color);
  border-radius: 10px;
  border: 1px solid blue;
  text-align: center;
  box-shadow: var(--box-shadow);
  padding: 30px;
  width: 600px;
}